<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Настройки
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block"
              color="primary"
              type="submit"
              (click)="showLogOutAlert()">
    Выйти
  </ion-button>

<!--  <ion-list>-->
<!--    <ion-radio-group (ionChange)="changePart($event)">-->
<!--      <ion-list-header>-->
<!--        <ion-label>Отделы</ion-label>-->
<!--      </ion-list-header>-->

<!--      <ion-item *ngFor="let item of marketParts">-->
<!--        <ion-label>{{getPartTitle(item.part)}}</ion-label>-->
<!--        <ion-radio slot="end"-->
<!--                   [checked]="item.isChecked"-->
<!--                   [value]="item.part"></ion-radio>-->
<!--      </ion-item>-->
<!--    </ion-radio-group>-->
<!--  </ion-list>-->
</ion-content>
