<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Поступления
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div style="padding: 0 16px;text-align: center;">
        <h1>{{ dateUpdate | date }}</h1>
    </div>

    <ion-card *ngFor="let item of (incomes | async)">
        <ion-card-header>
            <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
            <ion-card-title>$ {{ item.sum | number:'1.0-0' }}</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
