// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.custom-table {
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  text-align: right;

  tr {

    td {
      padding: 5px;

      &:first-child {
        font-weight: 800;
        text-align: left;
      }
    }
  }
}

.custom-title {
  display: block;
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.data-table-wrap {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.info-date {
  display: block;
  font-size: .8rem;
  text-align: right;
  margin-top: 0;
}

ion-segment-button {
  height: 28px;
}

.data-table {
  min-width: 100%;
  font-size: 12px;
  background-color: #fff;
  text-align: center;

  thead {

    tr {

      th {
        height: 40px;
        padding: 5px;
        background: #003c8c;
        color: #fff;
        border-bottom: 1px solid #ccc;
        white-space: nowrap;
      }
    }
  }

  tbody {

    tr {

      td {
        padding: 5px;
        border-bottom: 1px solid #ccc;

        &:first-child {
          font-weight: 800;
        }
      }
    }
  }

  tfoot {
    font-weight: 800;
  }
}

.days-list {

  ion-segment-button {
    height: 47px;
    min-width: 46px;
  }
}

.filter-item {
  display: block;
  min-width: 34px;
  border: {
    width: 0 5px;
    style: solid;
    color: transparent;
  };
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info-date {
    padding-left: 16px;
    white-space: nowrap;

    @media screen and (max-width: 374px) {
      span {
        display: none;
      }
    }
  }
}

.equal-buttons {

  ion-segment-button {
    width: 50%;
  }
}

.scroll-container {
  overflow-x: auto;
  margin: 0 -16px;
  padding: 0 16px;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 0;
  }

  .after-elem {
    display: block;
    min-width: 16px;
    height: 100%;
  }

  ion-segment {
    justify-content: flex-start;
    min-width: calc(100% + 16px);

    &:after {
      display: block;
      min-width: 16px;
      content: '';
    }

    ion-segment-button {
      min-width: 46px;

      ion-label.border-bottom {
        display: block;
        border-bottom: 1px solid #003c8c;
      }

      &.segment-button-checked {

        ion-label {
          border-bottom-color: #fff;
        }
      }
    }

    ion-label {
      padding: 2px 6px;
    }
  }
}
